runtime: python314
entrypoint: "uvicorn src.main:app --host 0.0.0.0 --port $PORT"

env_variables:
  PYTHONPATH: "src"
  SESSION_SECRET: "$SESSION_SECRET"
  TG_TOKEN: "$TG_TOKEN"
  MOD_CHAT_ID: "$MOD_CHAT_ID"
  BASE_URL: "$BASE_URL"
  OWNER_ID: "$OWNER_ID"
  SLACK_CLIENT_ID: "$SLACK_CLIENT_ID"
  SLACK_CLIENT_SECRET: "$SLACK_CLIENT_SECRET"
  SLACK_SIGNING_SECRET: "$SLACK_SIGNING_SECRET"
  TWITTER_CONSUMER_KEY: "$TWITTER_CONSUMER_KEY"
  TWITTER_CONSUMER_KEY_SECRET: "$TWITTER_CONSUMER_KEY_SECRET"
  TWITTER_ACCESS_TOKEN: "$TWITTER_ACCESS_TOKEN"
  TWITTER_ACCESS_SECRET: "$TWITTER_ACCESS_SECRET"
  GEMINI_API_KEY: "$GEMINI_API_KEY"
liveness_check:
  path: "/ping"
  check_interval_sec: 30
  timeout_sec: 4
  failure_threshold: 2
  success_threshold: 2

automatic_scaling:
  max_instances: 1
  min_instances: 1
