[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
google-cloud-datastore = "*"
flask = "*"
boto = "*"
boto3 = "*"
google-cloud-storage = "*"
pytz = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
