[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
python-telegram-bot = "<14"
google-cloud-datastore = "*"
flask = "*"
boto3 = "*"
google-cloud-storage = "*"
pytz = "*"
fuzzywuzzy = "*"
pillow = "*"
tweepy = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
